<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link href="style.css" rel="stylesheet">
      <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    </head>
    
   
<body style="background:#E4C231;" class="container-fluid">
   <div style="margin-top:15%;"></div>
    <div class="row-fluid text-center">
        <div class="col-md-8 col-md-offset-2" >
            <span style="color:#fff;">--------Software Interactivo para la asignatura-------</span><br>
            <h1 style="color:#fff;"><b>ÉTICA</b>Y<b>VALORES</b>II</span></h1>
            <button class="btn btn-primary">CONTINUAR</button><br>
            <button class="btn btn-primary">NUEVA AVENTURA</button>
        </div>
        
    </div>
    <div class="row-fluid">
       <div class="col-md-12" style="background:#fff;">
           <img
       </div>
    </div>
</body>
</html>