<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>registro1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../css/uiSofia.css">
    <link rel=stylesheet href="../css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    
</head>

<body class="container-fluid bgGris">
 
<div class="row" style="margin-top:2%;">
    
</div>
<div class="row" style="margin-top:5%;">
    <div class="col-md-8 col-md-offset-2 text-center">
        <a class="btn" href="slide2.html?sexo=mujer" name="mujer" value="valor1"><img src="../img/mujer.png"></a>
        <a  class="btn" href="slide2.html?sexo=hombre" name="hombre" value="valor2"><img src="../img/hombre.png"></a>
        
    </div>
</div>
  <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
          <a href="slide1.html?prev=true" ><button class="btn btn-primary">CANCELAR</button></a>
      </div>
  </div>
   
</body>
</html>